.allProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.oneProduct {
  padding: 40px;
  text-align: center;

  img {
    height: 300px;
    width: 300px;
    border-radius: .5em;
  }

.addButton:hover {
  background-color: #494;
}

}
