$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
    color: #333;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .cart-nav {
    display: flex;
    flex-direction: row;
    float: right;
  }

  .addButton {
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
}

@import '_cart';
@import '_products';
@import '_product';
@import '_cartTotals';
