* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
    color: #333;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .cart-nav {
    display: flex;
    flex-direction: row;
    float: right;
  }

}


@import '_cart';
@import '_products';
